<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="hcl Suite" parallel="methods" thread-count="2">
    <test name="hcl test">
        <classes>
            <class name="tests.LetCodeHomePageTest"/>
            <class name="tests.OrangePageTest"/>
            <class name="tests.OmayoPageTest"/>
            <class name="tests.ActionsTest"/>
        </classes>
    </test>
</suite>